body{
    background-color: #edf4f9;
    font-family: 'Noto Sans';
}

.rotate{
    -webkit-transform: rotate(180deg);  /* Chrome, Safari, Opera */
        -moz-transform: rotate(180deg);  /* Firefox */
        -ms-transform: rotate(180deg);  /* IE 9 */
            transform: rotate(180deg);  /* Standard syntax */    
}
.btn-arrow{
    float: right;
}
P{
    font-size: 13px;
}
.help-header, .help-header-send-email{
    background: #024f9d;
    color: #fff;
    padding: 20px 15px 20px 15px;
}
.help-header>h4,.help-header-send-email>h4{
    margin: 0;
    padding:0;
    font-weight: 700;
    max-width: 1024px;
    margin: 0 auto;
}
.help-header>p,.help-header-send-email>p{
    margin: 0;
    font-weight: 100;
    max-width: 1024px;
    margin: 0 auto;
}
.panel-title {
    text-decoration: none;
    color: black;
}
@media only screen and (max-width : 1024px) {

.info-msg-send-email>p,.info-msg>p{
    margin: 0;
    padding: 15px;
    max-width: 1024px;
    margin: 0 auto;
}
}
@media only screen and (min-width : 1025px) {

.info-msg-send-email>p,.info-msg>p{
    margin: 0;
    padding: 15px 0px;
    max-width: 1024px;
    margin: 0 auto;
}
}
.icon{
    color:#024f9d;
    float:right;
} 
.panel{
    border-radius: 0px !important;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    box-shadow:none !important;
    
}
.panel-default{
    
}
.panel-group{
    margin: 0 auto;
    max-width: 1024px;
}
.panel-group .panel+.panel{
    border-radius: 0px;
    margin-top: 0px;
    
}
.panel-default>.panel-heading{
    background-color: #fff;
    border-radius: 0px !important;
}
.panel-body{
    background-color: #edf4f9;
}
.panel-interact{
    text-align: center; 
    padding: 20px;
    height: 100px;
}
.panel-interact>button{
    margin: 10px 5px 0px 5px;
    background-color: #edf4f9;
    border-color: #edf4f9;
    width: 80px;
    color: #024f9d;
    font-size: 13px;
    font-weight: 700;

}
.panel-interact>p{
    margin: 0px;
}
.no-clicked, .yes-clicked{
    padding:10px !important;
    margin: auto !important;
    margin-top:10px !important;
    background: #edf4f9;
    width: 180px;
    border-radius: 4px;
    color:green;
   }

.panel-info{
    text-align: center;
    max-width: 1024px;
    margin: 0 auto;
}
.panel-info>h6{
    font-weight: 700;
    margin-top: 20px;
    margin-bottom: 0px;
}

.input-text{
    width: 100%;
    height: 70px;
    border-radius: 5px;
    box-shadow: none;
    border-width: 1px;
    border-style:solid;
    border-color: #c3c3c3;
    padding-left: 8px;
    padding-top: 8px;
}
form {
    margin: 0 15px;
}
.submit-button{
    min-width: 90vw;
    color: #fff;
    background: #024f9d;
    height: 40px;
    border-radius: 4px;
    border-style:solid;
    border-color:  #024f9d;
    margin: 10px 0px 16px 0px;
}
@media only screen and (max-width : 1024px) {
.report-button{
    min-width: 90vw;
    color: #fff;
    background: #024f9d;
    height: 40px;
    border-radius: 4px;
    border-style:solid;
    border-color:  #024f9d;
}
}
@media only screen and (min-width : 1025px) {
.report-button{
    min-width: 1024px;
    color: #fff;
    background: #024f9d;
    height: 40px;
    border-radius: 4px;
    border-style:solid;
    border-color:  #024f9d;
}
}
.send-email{
    text-align: center;
    padding: 15px;
}
.send-email-form{
    text-align: center;
}

.send-email-info{
    padding: 10px 15px;
    font-weight: normal;
    font-size: 12px;
    text-align: justify;
    
}
@media only screen and (min-width : 1025px) {
    .send-email-form{
        max-width: 1025px;
        margin: auto;
    }
    .send-email-info{
        max-width: 570px;
        padding: 10px 0px !important;
        margin: left;
        float: left;
}
   .submit-button{
    min-width: 150px;
    float: right;
    color: #fff;
    background: #024f9d;
    border-radius: 0px;
    border-style:solid;
    border-color:  #024f9d;
    margin: 10px 0px 16px 0px;
    height: 32px;
}
    #know-more-form{
        margin: 15px;
    }
    .panel-info{
        overflow: hidden;
    }

}
.input-text-form{
    min-width: -webkit-fill-available;
    width: 96%;
    height: 128px;
    border-radius: 5px;
    box-shadow: none;
    border-width: 1px;
    border-style:solid;
    border-color: #c3c3c3;
    padding-left: 8px;
    padding-top: 8px;
    margin: 0px 15px;
}

@media only screen and (min-width : 1025px) {
    .input-text-form{
    height: 128px;
    border-radius: 0px;
    box-shadow: none;
    border-width: 1px;
    border-style:solid;
    border-color: #c3c3c3;
    padding-left: 8px;
    padding-top: 8px;
    margin: 0px;
}
}
a{
    color: #333;
}

a:active, a:hover{
    text-decoration: none;
    color: #23527c;
}

@media only screen and (max-width : 1024px) {
    
}